In [506]:
import pandas as pd

#load dataset
data_xls = pd.read_excel('Training data.xlsx', 'Info', index_col=None)
data_xls.to_csv('Info.csv', encoding='utf-8',index = False)
data_xls = pd.read_excel('Training data.xlsx', 'TPR', index_col=None)
data_xls.to_csv('TPR.csv', encoding='utf-8', index = False)

infoSet = pd.read_csv("Info.csv", header = None, skiprows=[0])
TPRSet = pd.read_csv("TPR.csv", header = None, skiprows=[0])

infoSet

,0,1,2,3,4,5,6
0,12654924,1,62,"1,4","Ertapenem Sod,Cefmetazole,Amikacin,Norfloxacin","Escherichia coli,Pseudomonas aeruginosa",0
1,13919017,1,86,1,0,0,1
2,13344466,1,81,4,"Piperacillin+Tazobactam,Imipenem+cilastatin,Le...","Candida albicans,Pseudomonas aeruginosa,Staphy...",0
3,13225525,2,89,"1,2",0,0,0
4,12035675,2,71,"1,4","Ceftazidime,Cefixime",Enterococcus faecium,0
...,...,...,...,...,...,...,...
315,3044497,2,39,1,0,0,0
316,3507318,2,55,1,Cephradine,0,0
317,3406405,1,79,1,"Levofloxacin,Ertapenem Sod,Cefazolin,Cephradin...",Klebsiella pneumoniae ssp pneumoniae,1
318,3945785,2,77,1,Doxycycline,0,0
319,3692910,2,73,1,"Cefixime,Cefmetazole",0,0

In [507]:
# merge 2 set
from sklearn.decomposition import PCA

aggregation_functions = {2: 'mean', 3: 'mean', 4: 'mean', 5: 'mean', 6: 'mean'}

TPRaggreg = TPRSet.groupby(TPRSet[0]).aggregate(aggregation_functions)
label = {"No", "Gender", "Age", "bact", "T", "P", "R", "NBPS", "NBPD"}
label = {0:"No"}
mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False, False]], TPRaggreg.iloc[:, [True, True, True, True, True]], on=0)
# mergeSet.rename(columns=label)
# mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False, True]], TPRaggreg.iloc[:, [True, True, True, False, False]], on=0)
mergeSet

,0,1,2_x,2_y,3,4,5,6
0,12654924,1,62,36.547368,111.095238,19.437500,134.352941,82.176471
1,13919017,1,86,36.356250,96.560000,17.176471,136.600000,82.200000
2,13344466,1,81,36.645833,71.772727,18.388889,138.904762,69.619048
3,13225525,2,89,36.940000,85.700000,18.900000,131.600000,77.450000
4,12035675,2,71,36.636364,93.416667,19.136364,119.391304,81.608696
...,...,...,...,...,...,...,...,...
315,3044497,2,39,36.800000,83.772727,18.250000,175.818182,103.590909
316,3507318,2,55,37.137931,96.421053,18.062500,155.842105,94.473684
317,3406405,1,79,36.655556,118.679245,19.145833,123.962264,67.528302
318,3945785,2,77,36.941176,74.631579,19.250000,152.789474,82.473684
319,3692910,2,73,36.580000,111.000000,17.933333,135.666667,86.047619

In [508]:
import numpy as np

def str_trim(series):
    series = series.replace(' ', np.nan)
    series = series.replace('', np.nan, regex=True)
    series = series.replace("0", np.nan, regex=True)
    
    feature = pd.DataFrame(series.str.split(',').explode())
    feature = feature.drop_duplicates(subset=None, keep='first', inplace=False)
    feature = feature.replace('', np.nan)
    feature = feature.dropna()

    return series, feature

bacteria = infoSet.iloc[:, 5]
bacteria = bacteria.rename("bacteria")
bacteriaSet, bacteria_feature= str_trim(bacteria)
bacteria_feature = bacteria_feature.to_numpy().flatten()

common = infoSet.iloc[:, 3]
common = common.rename("common")
commonSet, commonFeature = str_trim(common)
commonFeature = commonFeature.to_numpy().flatten()
# mergeSet[5]

In [509]:
def extract_df(ser, features):
    df= pd.DataFrame()
    for feature in features:
        id = 0
        new_list = []
        for element in ser:
            if feature == element:
                new_list.append(1)
            else:
                new_list.append(0)
    
        df[feature] = new_list
    return df
            
#origin_ant
bacteria_df = extract_df(bacteriaSet, bacteria_feature)
common_df = extract_df(commonSet, commonFeature)
bacteria_df

,Escherichia coli,Pseudomonas aeruginosa,Candida albicans,Staphylococcus epidermidis,Enterococcus faecium,Enterobacter cloacae ssp cloacae,Klebsiella pneumoniae ssp pneumoniae,Candida tropicalis,Proteus mirabilis,Staphylococcus pettenkoferi,...,Achromobacter denitrificans,Staphylococcus haemolyticus,Corynebacterium striatum,Morganella morganii ssp morganii,Candida glabrata,Pseudomonas putida,Acinetobacter baumannii,Cyberlindnera fabianii,Salmonella group C1,Staphylococcus aureus
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
317,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [510]:
# Extract data
import numpy as np
from sklearn import preprocessing


# å‰µé€  dummy variables
label_encoder = preprocessing.LabelEncoder()
encoded_no = label_encoder.fit_transform(mergeSet[0])

# å»ºç«‹è¨“ç·´èˆ‡æ¸¬è©¦è³‡æ–™
patient_x = pd.concat([mergeSet, bacteria_df, common_df], axis=1)
patient_x = patient_x.iloc[:, 1:]
patient_y = infoSet.iloc[:, 6]

patient_x

,1,2_x,2_y,3,4,5,6,Escherichia coli,Pseudomonas aeruginosa,Candida albicans,...,Morganella morganii ssp morganii,Candida glabrata,Pseudomonas putida,Acinetobacter baumannii,Cyberlindnera fabianii,Salmonella group C1,Staphylococcus aureus,1,4,2
0,1,62,36.547368,111.095238,19.437500,134.352941,82.176471,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,86,36.356250,96.560000,17.176471,136.600000,82.200000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,81,36.645833,71.772727,18.388889,138.904762,69.619048,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2,89,36.940000,85.700000,18.900000,131.600000,77.450000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,71,36.636364,93.416667,19.136364,119.391304,81.608696,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,2,39,36.800000,83.772727,18.250000,175.818182,103.590909,0,0,0,...,0,0,0,0,0,0,0,1,0,0
316,2,55,37.137931,96.421053,18.062500,155.842105,94.473684,0,0,0,...,0,0,0,0,0,0,0,1,0,0
317,1,79,36.655556,118.679245,19.145833,123.962264,67.528302,0,0,0,...,0,0,0,0,0,0,0,1,0,0
318,2,77,36.941176,74.631579,19.250000,152.789474,82.473684,0,0,0,...,0,0,0,0,0,0,0,1,0,0
319,2,73,36.580000,111.000000,17.933333,135.666667,86.047619,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [511]:
from sklearn.feature_selection import SelectKBest, f_classif 


kb = SelectKBest(f_classif, k=3).fit(patient_x, patient_y)
patient_x = kb.transform(patient_x)
patient_x

In [512]:
# Seperate training set and testing set
from sklearn import ensemble, model_selection, metrics
train_X, test_X, train_y, test_y = model_selection.train_test_split(patient_x, patient_y, test_size = 0.3)

# Create random forest model
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_X, train_y)

# Predict
test_y_predicted = forest.predict(test_X)

# Score
accuracy = metrics.accuracy_score(test_y, test_y_predicted)
print(accuracy)

0.8229166666666666

In [513]:
# Cal AUC
fpr, tpr, thresholds = metrics.roc_curve(test_y, test_y_predicted)
auc = metrics.auc(fpr, tpr)
print(auc)

0.7346634901727218

In [514]:
# f1 score
f1 = metrics.f1_score(test_y, test_y_predicted)
f1

0.6046511627906976