In [918]:
# Load dataset

import pandas as pd

data_xls = pd.read_excel('Training data.xlsx', 'Info', index_col=None)
data_xls.to_csv('Info.csv', encoding='utf-8',index = False)
data_xls = pd.read_excel('Training data.xlsx', 'TPR', index_col=None)
data_xls.to_csv('TPR.csv', encoding='utf-8', index = False)

infoSet = pd.read_csv("Info.csv", header = None, skiprows=[0])
TPRSet = pd.read_csv("TPR.csv", header = None, skiprows=[0])

TPRSet

             0                    1     2     3     4      5     6
0      2458948  2016-12-29 13:40:08  36.6  72.0  20.0  116.0  70.0
1      2458948  2016-12-29 14:35:50  36.2  90.0  18.0  111.0  78.0
2      2458948  2016-12-29 19:05:44  36.5  72.0  18.0  123.0  68.0
3      2458948  2016-12-30 06:50:30  36.9  92.0  20.0  127.0  71.0
4      2458948  2016-12-30 14:37:21  36.0   NaN  18.0    NaN   NaN
...        ...                  ...   ...   ...   ...    ...   ...
8748  14221059  2019-07-26 03:05:15  37.5   NaN   NaN    NaN   NaN
8749  14221059  2019-07-26 05:00:32  37.4  90.0   NaN    NaN   NaN
8750  14221059  2019-07-26 07:26:25   NaN  96.0   NaN  106.0  84.0
8751  14221059  2019-07-26 09:00:54  38.1  92.0  22.0  135.0  84.0
8752  14221059  2019-07-26 11:15:28  37.5   NaN   NaN    NaN   NaN

[8753 rows x 7 columns]

In [919]:
# Merge info set and TPR set
from sklearn.decomposition import PCA

aggregation_functions = {2: 'mean', 3: 'mean', 4: 'mean', 5: 'mean', 6: 'mean'}

TPRaggreg = TPRSet.groupby(TPRSet[0]).aggregate(aggregation_functions)
# label = {"No", "Gender", "Age", "bact", "T", "P", "R", "NBPS", "NBPD"}
# label = {0:"No"}
mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False, False]], TPRaggreg.iloc[:, [True, True, True, True, True]], on=0)
# mergeSet.rename(columns=label)
# mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False, True]], TPRaggreg.iloc[:, [True, True, True, False, False]], on=0)
mergeSet

,0,1,2_x,2_y,3,4,5,6
0,12654924,1,62,36.547368,111.095238,19.437500,134.352941,82.176471
1,13919017,1,86,36.356250,96.560000,17.176471,136.600000,82.200000
2,13344466,1,81,36.645833,71.772727,18.388889,138.904762,69.619048
3,13225525,2,89,36.940000,85.700000,18.900000,131.600000,77.450000
4,12035675,2,71,36.636364,93.416667,19.136364,119.391304,81.608696
...,...,...,...,...,...,...,...,...
315,3044497,2,39,36.800000,83.772727,18.250000,175.818182,103.590909
316,3507318,2,55,37.137931,96.421053,18.062500,155.842105,94.473684
317,3406405,1,79,36.655556,118.679245,19.145833,123.962264,67.528302
318,3945785,2,77,36.941176,74.631579,19.250000,152.789474,82.473684
319,3692910,2,73,36.580000,111.000000,17.933333,135.666667,86.047619

In [920]:
# Extract feature list and clean strings
import numpy as np

def str_trim(series):
    series = series.replace(' ', np.nan)
    series = series.replace('', np.nan, regex=True)
    series = series.replace("0", np.nan, regex=True)
    
    feature = pd.DataFrame(series.str.split(',').explode())
    feature = feature.drop_duplicates(subset=None, keep='first', inplace=False)
    feature = feature.replace('', np.nan)
    feature = feature.dropna()

    return series, feature

bacteria = infoSet.iloc[:, 5]
bacteria = bacteria.rename("bacteria")
bacteriaSet, bacteria_feature= str_trim(bacteria)
bacteria_feature = bacteria_feature.to_numpy().flatten()

common = infoSet.iloc[:, 3]
common = common.rename("common")
commonSet, commonFeature = str_trim(common)
commonFeature = commonFeature.to_numpy().flatten()
# mergeSet[5]

In [921]:
# Create one hot encoding
def extract_df(ser, features):
    df= pd.DataFrame()
    for feature in features:
        id = 0
        new_list = []
        for element in ser:
            if feature == element:
                new_list.append(1)
            else:
                new_list.append(0)
    
        df[feature] = new_list
    return df
            
#origin_ant
bacteria_df = extract_df(bacteriaSet, bacteria_feature)
common_df = extract_df(commonSet, commonFeature)
bacteria_df

,Escherichia coli,Pseudomonas aeruginosa,Candida albicans,Staphylococcus epidermidis,Enterococcus faecium,Enterobacter cloacae ssp cloacae,Klebsiella pneumoniae ssp pneumoniae,Candida tropicalis,Proteus mirabilis,Staphylococcus pettenkoferi,...,Achromobacter denitrificans,Staphylococcus haemolyticus,Corynebacterium striatum,Morganella morganii ssp morganii,Candida glabrata,Pseudomonas putida,Acinetobacter baumannii,Cyberlindnera fabianii,Salmonella group C1,Staphylococcus aureus
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
317,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [922]:
# Extract data
import numpy as np
from sklearn import preprocessing


# å‰µé€  dummy variables
label_encoder = preprocessing.LabelEncoder()
encoded_no = label_encoder.fit_transform(mergeSet[0])

# å»ºç«‹è¨“ç·´èˆ‡æ¸¬è©¦è³‡æ–™
patient_x = pd.concat([mergeSet, bacteria_df, common_df], axis=1)
patient_x = patient_x.iloc[:, 1:]
patient_y = infoSet.iloc[:, 6]

patient_x
# type(patient_x)

,1,2_x,2_y,3,4,5,6,Escherichia coli,Pseudomonas aeruginosa,Candida albicans,...,Morganella morganii ssp morganii,Candida glabrata,Pseudomonas putida,Acinetobacter baumannii,Cyberlindnera fabianii,Salmonella group C1,Staphylococcus aureus,1,4,2
0,1,62,36.547368,111.095238,19.437500,134.352941,82.176471,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,86,36.356250,96.560000,17.176471,136.600000,82.200000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,81,36.645833,71.772727,18.388889,138.904762,69.619048,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2,89,36.940000,85.700000,18.900000,131.600000,77.450000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,71,36.636364,93.416667,19.136364,119.391304,81.608696,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,2,39,36.800000,83.772727,18.250000,175.818182,103.590909,0,0,0,...,0,0,0,0,0,0,0,1,0,0
316,2,55,37.137931,96.421053,18.062500,155.842105,94.473684,0,0,0,...,0,0,0,0,0,0,0,1,0,0
317,1,79,36.655556,118.679245,19.145833,123.962264,67.528302,0,0,0,...,0,0,0,0,0,0,0,1,0,0
318,2,77,36.941176,74.631579,19.250000,152.789474,82.473684,0,0,0,...,0,0,0,0,0,0,0,1,0,0
319,2,73,36.580000,111.000000,17.933333,135.666667,86.047619,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [923]:
# from sklearn.model_selection import StratifiedKFold
# from sklearn.feature_selection import SelectKBest, f_classif, chi2, SelectFpr, mutual_info_classif

# stratified_folder = StratifiedKFold(n_splits=4,  shuffle=False)
# for x_index, y_index in stratified_folder.split(patient_x, patient_y):
# #     print(xSet)

#     kb = SelectKBest(mutual_info_classif, k=10).fit(patient_x.iloc[x_index], patient_y.iloc[x_ind])
#     patient_xx = kb.transform(patient_x[x_index])

In [924]:
from sklearn.feature_selection import SelectKBest, f_classif, chi2, SelectFpr, mutual_info_classif


kb = SelectKBest(mutual_info_classif, k=10).fit(patient_x, patient_y)
patient_x = kb.transform(patient_x)
patient_x

array([[ 36.54736842,  19.4375    , 134.35294118, ...,   0.        ,
          0.        ,   0.        ],
       [ 36.35625   ,  17.17647059, 136.6       , ...,   0.        ,
          0.        ,   0.        ],
       [ 36.64583333,  18.38888889, 138.9047619 , ...,   0.        ,
          0.        ,   1.        ],
       ...,
       [ 36.65555556,  19.14583333, 123.96226415, ...,   0.        ,
          0.        ,   0.        ],
       [ 36.94117647,  19.25      , 152.78947368, ...,   0.        ,
          0.        ,   0.        ],
       [ 36.58      ,  17.93333333, 135.66666667, ...,   0.        ,
          0.        ,   0.        ]])

In [925]:
# Seperate training set and testing set
from sklearn import model_selection, metrics
from sklearn.ensemble import RandomForestClassifier
train_x, test_x, train_y, test_y = model_selection.train_test_split(patient_x, patient_y, test_size = 0.3)

# Create random forest model
forest = RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_x, train_y)

# Predict
test_y_predicted = forest.predict(test_x)

# Score
accuracy = metrics.accuracy_score(test_y, test_y_predicted)
print(accuracy)

0.8125

In [926]:
# Add other model

from sklearn.ensemble import ExtraTreesClassifier, VotingClassifier
# from sklearn.ensemble import DecisionTreeClassifier
extraTrees = ExtraTreesClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
# scores = cross_val_score(extraTrees, test_x, test_y,cv=5,scoring='accuracy')
# print(scores)
# print(scores.mean())

voting = VotingClassifier(estimators=[('rf', forest), ('et', extraTrees)], voting='hard')
scores = cross_val_score(voting, patient_x, patient_y,cv=5,scoring='accuracy')
print(scores)
print(scores.mean())

[0.828125 0.796875 0.75     0.765625 0.828125]
0.79375

In [927]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(forest_fit, test_x, test_y,cv=5,scoring='accuracy')
print(scores)
print(scores.mean())

[0.7        0.84210526 0.78947368 0.68421053 0.84210526]
0.771578947368421

In [928]:
# Cal AUC
fpr, tpr, thresholds = metrics.roc_curve(test_y, test_y_predicted)
auc = metrics.auc(fpr, tpr)
print(auc)

0.75

In [929]:
# f1 score
f1 = metrics.f1_score(test_y, test_y_predicted)
f1

0.6666666666666666

In [930]:
# Testing
data_xls = pd.read_excel('Testing data.xlsx', 'Info', index_col=None)
data_xls.to_csv('TestingInfo.csv', encoding='utf-8',index = False)
data_xls = pd.read_excel('Testing data.xlsx', 'TPR', index_col=None)
data_xls.to_csv('TestingTPR.csv', encoding='utf-8', index = False)

infoSet = pd.read_csv("TestingInfo.csv", header = None, skiprows=[0])
TPRSet = pd.read_csv("TestingTPR.csv", header = None, skiprows=[0])

aggregation_functions = {2: 'mean', 3: 'mean', 4: 'mean', 5: 'mean', 6: 'mean'}

TPRaggreg = TPRSet.groupby(TPRSet[0]).aggregate(aggregation_functions)
mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False]], TPRaggreg.iloc[:, [True, True, True, True, True]], on=0)

# Extract feature
bacteria = infoSet.iloc[:, 5]
bacteria = bacteria.rename("bacteria")
bacteriaSet, bacteria_feature_not_used = str_trim(bacteria)
# bacteria_feature_not_used = bacteria_feature_not_used.to_numpy().flatten()

common = infoSet.iloc[:, 3]
common = common.rename("common")
commonSet, commonFeature = str_trim(common)
commonFeature = commonFeature.to_numpy().flatten()

# One Hot encoding
bacteria_df = extract_df(bacteriaSet, bacteria_feature)
common_df = extract_df(commonSet, commonFeature)

# Concate
test_x = pd.concat([mergeSet, bacteria_df, common_df], axis=1)
test_x = test_x.iloc[:, 1:]

mask = kb.get_support()

test_x = test_x.iloc[:,mask]

test_y_predicted = forest.predict(test_x)

test_y_predicted

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])